		body
		{
			background: #18191e;
			padding: 6px;
			font-family: 'Helvetica Neue', sans-serif;
			color: whitesmoke;
			margin: 0;
		}

		.gridBox
		{
			padding-top: 10px;
			display: grid; 
			width: 100%;
  			grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));	
  			gap: 8px 8px; 
		}

		@media screen and (max-width: 800px) {
		    .gridBox {
		        grid-template-columns: repeat(auto-fill, minmax(66%, 1fr));
		    }
		}

		@media screen and (max-width: 550px) {
		    .gridBox {
		        grid-template-columns: repeat(auto-fill, 100%);
		    }
		    .mainTitle h1
			{
				font-size: 1.2em;
				align-self: center;

			}	

		}

		.gridBox a
		{
			text-decoration: none;
		}


		.gridComponent
		{
			box-shadow: 3px 3px black;
			border-radius: 10px;
			width:100%;
			height:390px;
			border: 0.5px solid black;
			background: #25272f;
			transition: transform .2s;
			padding-bottom: 10px;
			animation: cardEnter 0.2s ease 0s 1 normal none;
		}

		@keyframes cardEnter {
		  0% {
			transform: scaleX(0.4);
		  }

		  100% {
			transform: scaleX(1);
		  }
		}

		.gridComponent .title
		{
			color: '#ffffff';
			font-weight: bold;
			align-self: center;
			text-align: center;
			height: 20px;
		}

		.gridComponent:hover 
		{
		      transform: scale(1.05);
		      border-color: darkblue;
		}

		.title
		{
			background: #25272f;
			border-radius: 10px;
			color: #ffffff;
			font-family: 'Helvetica Neue', sans-serif; font-size: 1em;
			font-weight: bold;
			letter-spacing: -1px;
			line-height: 0.2;
			text-align: center;		
		}

		.mainTitle
		{
			background: #25272f;
			height: 80px;
			border: 1px solid black;
			border-radius: 10px;
			color: #ffffff;
			font-family: 'Helvetica Neue', sans-serif; font-size: 1.5em;
			font-weight: bold;
			letter-spacing: -1px;
			line-height: 0.2;
			text-align: left;
			display: flex;
		    flex-direction: row;

		}


		.gridComponent .kpi
		{
			font-weight: bold;
			color: #ffffff;
			height: 20px;
			font-family: 'Helvetica Neue', sans-serif;
			font-size: 1.25em;
			padding-top: 10px;
			display: flex;
		    flex-direction: row;
		    justify-content: space-between;
		    align-items: flex-end
		}

		.gridComponent .kpi .kpiText
		{
			text-align: left;
			margin-left: 20px;
		}

		.gridComponent .kpi .kpiValue
		{
			position: relative;
		}

.custom-loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#546C9D 94%,#0000) top/4px 4px no-repeat,
    conic-gradient(#0000 30%,#546C9D);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
  animation:s3 1s infinite linear;
}

@keyframes s3{ 
  100%{transform: rotate(1turn)}
}

#charttrobber{
  width: 50px;
  height: 50px;
background: 
    radial-gradient(farthest-side,#546C9D 94%,#0000) top/10px 10px no-repeat,
    conic-gradient(#0000 30%,#546C9D);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 10px),#000 0);
  position: absolute; /* Располагаем абсолютно внутри ячейки */
  top: 45%; /* Располагаем относительно верхнего края ячейки */
  left: 45%; /* Располагаем относительно левого края ячейки */
}
/*
* {
    box-sizing: border-box; /* Включаем границы и отступы в размеры элементов */



/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #4E5364 #25272F;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #25272F;
}

*::-webkit-scrollbar-track:hover {
  background-color: #25272F;
}

*::-webkit-scrollbar-track:active {
  background-color: #25272F;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #4E5364;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #696F86;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #767D97;
}


table {
            padding: 5px;
            padding-bottom: 10;
           width: 100%;
    }
    th {
        font-size: 35px;
        border-bottom: 0.3px solid #48494d;
        background:#24272e;
        color:#898b92;
        font-weight:bold;
        font-family: 'Helvetica Neue', sans-serif;
    }
    td {
        font-size: 25px;
        border-bottom: 0.3px solid #48494d;
        color:#b3b6bd;
        font-weight:bold;
        font-family: 'Helvetica Neue', sans-serif;
    }
    .top {
        position:sticky;
        top:0px;
    }
    td:nth-child(2),
    td:nth-child(3),
    td:nth-child(4) {
        text-align: center;
    }
    td:nth-child(1){
        text-align: center;
    }
    td:nth-child(2){
        width: 27%;
    }
    #date {
    position: absolute;
}

#fixTrobber {
	position: absolute;
	left: -20px;
    top: 8px;
}