* {
    box-sizing: border-box; /* Включаем границы и отступы в размеры элементов */
}
.column1
        {

           margin-right: 8px;
           height: 100% ;
           flex-basis: 60%;
           
        }

.column2
        {
            width: 100%;
            height: 100%;
        }

/*.custom-loader {
    margin-top: 23px;
}*/
#pie {

height: 100%;

}

.cell
        {
            position: relative;
            box-shadow: 3px 3px black;
            border-radius: 10px;
            width:100%;
            height: 40%;
            border: 0.5px solid black;
            background: #25272f;
            padding-bottom: 10px;
            margin-top: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
.column2 .cell
        {
            overflow: auto;
            height: 97.9%;
        }

.container 
        {
            height: 90vh;
            display: flex;
        }

.title
        {
            height: 15%;
    display: flex;
    flex-direction: column; /* Отображать элементы в столбец */;
    color: #25272f;
    font-size: 1.5em;
    line-height: 30px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;

        }*/

#chart1 {
    height: 15%;
    display: flex;
    flex-direction: column; /* Отображать элементы в столбец */;
    color: #25272f;
    font-size: 1.5em;
    line-height: 30px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

#chart2 {
    height: 24%;
    display: flex;
    flex-direction: column; /* Отображать элементы в столбец */;
    color: #ffffff;
    font-size: 1.5em;
    line-height: 30px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

#chart3 {
    height:35%;
    display: flex;
    flex-direction: column; /* Отображать элементы в столбец */;
    color: #ffffff;
    font-size: 1.5em;
    line-height: 30px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
}


.cell .title{
    color: '#ffffff';
            font-weight: bold;
            align-self: center;
            text-align: center;
            height: 50px;
            width: 100%;
            padding: 20px;
}

.kpi-item {
    display: flex;
    /*align-items: center; /* Выравнивание по вертикали */ 
}

.kpitext {
    flex: 1;
    text-align: left;
    margin-left: 10px; /* Добавление отступа между меткой и значением */
}

.kpivalue {
    flex: 0 0 auto; /* Автоматический размер для значения */
    text-align: right;
    padding-right: 1%;
}

.mainTitle
        {
            background: #25272f;
            height: 80px;
            border: 1px solid black;
            border-radius: 10px;
            color: #ffffff;
            font-family: 'Helvetica Neue', sans-serif; font-size: 1.5em;
            font-weight: bold;
            letter-spacing: -1px;
            line-height: 0.2;
            text-align: left;
            display: flex;
            flex-direction: row;

        }
 td{

    height: 50px;
    font-size: 10px;
    
}
.perssonale-table{

    height: 200px;
    font-size: 12px;
}

.perssonale-table th{

    font-size: 30px;
}
    .perssonale-table td {

            font-size: 20px;
    }

.prepodsHistogram{

height: 24%;
    display: flex;
    flex-direction: column; /* Отображать элементы в столбец */;
    color: #25272f;
    font-size: 1.5em;
    line-height: 30px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;

}

.highcharts-series .highcharts-point {
    margin-right: 0px; /* Устанавливаем расстояние между столбцами */
}

#tableContainer {
    height: 310px;
    overflow-y: auto;
}

.table{
    height: 120%;
}